:root {
	--custom-width: 4em;
	--background-color: #f8f5f5;
}

#ticker > .accordion-item:nth-child(odd) {
	background-color:  var(--background-color);
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 0.1em;
}

table.dataTable tr:nth-child(n + 2) td {
	border-top: 1px solid #dddddd;
}

table.dataTable tr td:first-child {
	border-left: 1px solid #000000;
}

table.dataTable tr td:last-child {
	border-right: 1px solid #000000;
}

.group-by-table .odd {
	background-color: var(--background-color);
}

.group-by-table tr > th:first-child, .group-by-table tr > td:first-child {
	width: var(--custom-width);
	min-width: var(--custom-width);
	max-width: var(--custom-width);
}



.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
	display: table-cell;
	float: none;
	padding-right: 1em;
}
