:root {
	--custom-width: 4em;
}

.group-by-table tr > th:nth-child(-n + 4), .group-by-table tr > td:nth-child(-n + 4) {
	width: var(--custom-width) !important;
	min-width: var(--custom-width) !important;
	max-width: var(--custom-width) !important;
}

.dataTables_wrapper {
	display: inline-block;
	width: stretch;
	width: -moz-available;
	width: -webkit-fill-available;
}

.dataTables_length, .dataTables_filter {
	display: table-cell !important;
	float: none !important;
	padding-right: 1em;
}
